<h1>
  chedule works!
</h1>
<br>
<div *ngIf="message" [ngClass]="classMes" [@popupAnim] style="position:fixed;top:100px;left:50%;z-index: 100;">{{message}}</div>
<br>
<angular2-date-picker (onDateSelect)="onDateSelect()" [(ngModel)]="date" [settings]="settings"></angular2-date-picker>
<!-- <div class="row">
    <div class="col s6">
      <label for="birthdate">Birthdate {{birthDate}}</label>
      <input id="birthdate" name="birthdate" [(ngModel)]="birthDate" (click)="bla()"
             materialize="pickadate"
             [materializeActions]="birthDateActions"
             [materializeParams]="[{format: 'dd/mm/yyyy'}]"
             type="text" />
    </div>
    <div class="col s6">
       <label for="birthtime">Birthtime {{birthTime}}</label>
       <input id="birthtime" name="birthtime" [(ngModel)]="birthTime"
              materialize="pickatime" 
              [materializeActions]="birthTimeActions"
              [materializeParams]="[{twelvehour: false}]"
              placeholder="00:00" class="validate" type="text">
    </div>
    
</div> -->
<div class="row">
    <div class="col s12 m6" *ngFor="let master of masters">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text" style="height: 300px;">
          <span class="card-title">{{master.name}}</span>
          <p>{{master.about}}</p>
          <ul>
            <li *ngFor="let skill of master.skills">{{skill}}</li>
          </ul>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>