<h1>Blog page</h1>
<br>
<div *ngIf="message" [ngClass]="classMes">{{message}}</div>
<br>
<a class="waves-effect waves-light btn" *ngIf="!newPost && auth.loggedIn()" (click)="newBlogForm()">New post</a>
<a [class.disabled]="loadingBlog" class="waves-effect waves-light btn" *ngIf="!newPost" (click)="reloadBlog()">Reload<i class="material-icons left">refresh</i></a>
<br>
<br>
<div class="input-field">
  <input [(ngModel)]="values" (keypress)="sendMes($event)" #valueSend="ngModel" type="text" id="messages">
  <label for="messages">Send message</label>
</div>
<button class="waves-effect waves-teal btn" (click)="sendMes({keyCode: 13})">Send</button>
<br>
<div class="row">
  <div class="col s12 m12 l12" *ngFor="let mes of incomeMessages" [@enterAnimation]>
    <p>{{mes.author}} sayd: {{mes.message}}</p>
  </div>
</div>
<div class="row">
  <form class="col s12" [formGroup]="form" (submit)="onBlogSubmit()" *ngIf="newPost">
      <div class="row">
          <div class="input-field col s12">
            <input id="title" type="text" name="title" formControlName="title" autocomplete="off" [ngClass]="{'alert':(form.controls.title.errors && form.controls.title.dirty)}">
            <label for="title">Title</label>
            <div class="alert-danger" *ngIf="form.controls.title.errors?.required && form.controls.title.dirty" [@enterAnimation]>
                This field is required
            </div>
          </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="body" class="materialize-textarea" name="body" formControlName="body" rows="8" cols="80" [ngClass]="{'alert':(form.controls.body.errors && form.controls.body.dirty)}"></textarea>
          <label for="body">Post</label>
          <div class="alert-danger" *ngIf="form.controls.body.errors?.required && form.controls.body.dirty" [@enterAnimation]>
              This field is required
          </div>
          </div>
      </div>
      <button [disabled]="processing" type="button" class="waves-effect waves-teal btn" (click)="goBack()">Go back</button>
      <button [disabled]="!form.valid || processing" type="submit" class="waves-effect waves-teal btn" value="submit">submit</button>
  </form>
</div>

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!Search !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<br>
<div class="row">
  <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
    <input #myInput id="search" type="text" (input)="searchBlog(myInput.value)">
    <label for="search">ПОИСК</label>
  </div>
</div>
<br>
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<ng-container *ngIf="searchBloogs.length > 0">
  <ng-container *ngFor="let blog of searchBloogs; let idx=index">
  <ng-container *ngIf="idx<20">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{blog.title}}</span>
          <p>{{blog.body}}</p>
        </div>
        <div class="card-action">
          <!-- <a *ngIf="auth.loggedIn()" class="waves-effect waves-light btn" href="#"><i class="material-icons left">edit</i></a> -->
          <a *ngIf="auth.loggedIn()" class="waves-effect waves-light btn"  (click)="deleteBlog(blog._id)"><i class="material-icons left">delete</i></a>
          <a *ngIf="auth.loggedIn() && userName !== blog.createdBy" class="waves-effect waves-light btn"><i class="material-icons left">thumb_up</i></a><a  materialize="dropdown" [materializeParams]="[{hover: true, coverTrigger:false}]" class="waves-effect waves-light dropdown-button btn" [attr.data-activates]="'dropdown'+idx">Likes: {{blog.likes}}</a>
          <ul [id]="'dropdown'+idx" class='dropdown-content'>
              <li *ngFor="let user of blog.likedBy"><a>{{user}}</a></li>
          </ul>
          <a *ngIf="auth.loggedIn() && userName !== blog.createdBy" class="waves-effect waves-light btn"><i class="material-icons left">thumb_down</i></a><a materialize="dropdown" [materializeParams]="[{hover: true}]" class="waves-effect waves-light btn dropdown-button" [attr.data-activates]="'dropdowntwo'+idx">Dislikes: {{blog.disLikes}}</a>
          <ul [id]="'dropdowntwo'+idx" class='dropdown-content'>
              <li *ngFor="let user of blog.disLikedBy"><a >{{user}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </ng-container>
  </ng-container>
  </ng-container>   
  <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<ng-container *ngIf="allBlogs && (searchBloogs.length <1)">
<ng-container *ngFor="let blog of allBlogs; let idx=index">
    <ng-container *ngIf="idx<20">
<div class="row">
  <div class="col s12 m12 l12">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{blog.title}}</span>
        <p>{{blog.body}}</p>
      </div>
      <div class="card-action">
        <!-- <a *ngIf="auth.loggedIn()" class="waves-effect waves-light btn" href="#"><i class="material-icons left">edit</i></a> -->
        <a *ngIf="auth.loggedIn() && userName === blog.createdBy" class="waves-effect waves-light btn"  (click)="deleteBlog(blog._id)"><i class="material-icons left">delete</i></a>
        <a *ngIf="auth.loggedIn() && userName !== blog.createdBy" class="waves-effect waves-light btn"><i class="material-icons left">thumb_up</i></a><a  materialize="dropdown" [materializeParams]="[{hover: true, coverTrigger:false}]" class="waves-effect waves-light dropdown-button btn" [attr.data-activates]="'dropdown'+idx">Likes: {{blog.likes}}</a>
        <ul [id]="'dropdown'+idx" class='dropdown-content'>
            <li *ngFor="let user of blog.likedBy"><a>{{user}}</a></li>
        </ul>
        <a *ngIf="auth.loggedIn() && userName !== blog.createdBy" class="waves-effect waves-light btn"><i class="material-icons left">thumb_down</i></a><a materialize="dropdown" [materializeParams]="[{hover: true}]" class="waves-effect waves-light btn dropdown-button" [attr.data-activates]="'dropdowntwo'+idx">Dislikes: {{blog.disLikes}}</a>
        <ul [id]="'dropdowntwo'+idx" class='dropdown-content'>
            <li *ngFor="let user of blog.disLikedBy"><a >{{user}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</ng-container>
</ng-container>
</ng-container>       

